body {background-color: #201B18}

div.header {border-style: none none none none; border-width: 2px; border-color: #8990A9}
img.center {width: 602; height: 145; border-style: none none solid none; border-width: 1px; border-color: #8990A9}

div.spacer {font-size: 5px}

body {text-align: center; min-width: 600px}
div.main {margin:0 auto; width:602px; text-align: left; border-style: solid none none none; border-width: 1px; border-color: #8990A9}

p.menu {padding-top: 10px; color: #FFFEFB; font-family: arial, verdana; font-size: 10px}
ul.l1 {color: #FFFEFB; font-family: arial, verdana; font-size: 10px}
ul.l2 {color: #FFFEFB; font-family: arial, verdana; font-size: 10px}

a.a1:link {text-decoration: none; color: #FFFEFB}
a.a1:hover {text-decoration: none; color: #535E96}
a.a1:active {text-decoration: #FFFEFB}
a.a1:visited {text-decoration: none; color: #FFFEFB}
a.a1:hover {text-decoration: none; color: #535E96}

a.a2:link {text-decoration: none; color: #FFFEFB}
a.a2:hover {text-decoration: none; color: #B94A1D}
a.a2:active {text-decoration: #FFFEFB}
a.a2:visited {text-decoration: none; color: #FFFEFB}
a.a2:hover {text-decoration: none; color: #B94A1D}

img.subtitle {margin-top: -53.5%; float:right}
div.text {margin-top: -47%; float: right; width: 400px; text-align: justify; color: #FFFEFB; font-family: arial, verdana; font-size: 10px}

p.signature {float: right; color: #FFFEFB; text-align: right; font-family: arial, verdana; font-size: 10px}
p.copy {color: #FFFEFB; text-align: right; font-family: arial, verdana; font-size: 10px}

li.hidden {color: #201B18}

h2 {background-color: transparent}

body.indy {background-color: #201B18; margin-bottom: -20px}
img.indy {margin-top: -15px; margin-right: -26px; float:right}
div.indy {margin-top: -14px; margin-right: -16px; float: right; width: 400px; text-align: justify; color: #FFFEFB; font-family: arial, verdana; font-size: 10px}
iframe.data {margin-top: -53.5%; padding-right: -20px; padding-bottom: -50px; float: right; width: 420px; frameborder: 0; borderstyle: solid solid solid solid; border-color: #201B18; overflow: auto; text-align: justify; color: #FFFEFB; font-family: arial, verdana; font-size: 10px; background-color: #201B18}
